body
{
}
nav li {
    font-size: larger;
    display: inline-block;
    margin: 20px;
}

    nav li:hover {
        background-color: powderblue;
        padding: 2px;
    }

nav ul {
    background-color: blanchedalmond;
    max-width: 50%;
}

nav a {
    color: black;
}

hr {
    background-color: lightslategrey;
}
#Img1{
    display:flex;
    justify-content:center;
}
#Kopche1{
    display:flex;
    align-items:center;
    margin:20px 10px;
}
#Kopche2{
    display:flex;
    align-items:center;
    margin:20px 10px;
}